@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Montserrat' !important;
}

.container {
  height: 100vh;
  margin-left: 12%;
  margin-right: 12%;
}

.container-slice {
  height: 70vh;
  margin-left: 12%;
  margin-right: 12%;
}

.container-cards {
  margin-left: 6%;
  margin-right: 6%;
}

.titleBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 2%;
}

.titleBox_intro_title {
  width: 60%;
  margin-top: 1%;
  margin-bottom: 0.5%;
}

.titleBox_intro_title_text {
  width: 90%;
}

.boxCards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  width: 100%;
  height: auto;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Montserrat' !important;
}

.container {
  height: 100vh;
  margin-left: 12%;
  margin-right: 12%;
}

.container-slice {
  height: 70vh;
  margin-left: 12%;
  margin-right: 12%;
}

.container-cards {
  margin-left: 6%;
  margin-right: 6%;
}

.titleBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 2%;
}

.titleBox_intro_title {
  width: 60%;
  margin-top: 1%;
  margin-bottom: 0.5%;
}

.titleBox_intro_title_text {
  width: 90%;
}

.boxCards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  width: 100%;
  height: auto;
}

.title {
  font-weight: 600;
  letter-spacing: 0.02em;
  font-size: 49px;
  color: #253135;
}

.subtitle {
  font-weight: 600;
  font-size: 32px;
  color: #253135;
}

.paragraph {
  font-weight: 400;
  letter-spacing: 0.02em;
  font-size: 16px;
  color: #253135;
}

.paragraph-s {
  font-weight: 400;
  letter-spacing: 0.02em;
  font-size: 16px;
  color: #3D68E3;
}

.text {
  font-size: 16px;
  color: #253135;
}

.text-w {
  font-size: 16px;
  color: #FFFFFF;
}

.h3 {
  font-size: 20px;
  color: #3D68E3;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Montserrat' !important;
}

.container {
  height: 100vh;
  margin-left: 12%;
  margin-right: 12%;
}

.container-slice {
  height: 70vh;
  margin-left: 12%;
  margin-right: 12%;
}

.container-cards {
  margin-left: 6%;
  margin-right: 6%;
}

.titleBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 2%;
}

.titleBox_intro_title {
  width: 60%;
  margin-top: 1%;
  margin-bottom: 0.5%;
}

.titleBox_intro_title_text {
  width: 90%;
}

.boxCards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  width: 100%;
  height: auto;
}

.btn-registrate {
  width: 238px;
  height: 49px;
  -webkit-appearance: inherit;
     -moz-appearance: inherit;
          appearance: inherit;
  outline: none;
  border-bottom-style: none;
  border: inherit;
  color: #253135;
  border-radius: 30px;
  background: linear-gradient(113.98deg, #3D68E3 10.35%, rgba(62, 106, 231, 0.55) 151.98%);
  color: #FFFFFF;
  font-size: 20px;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  font-weight: 600;
  cursor: pointer;
}

.btn-registrate:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.btn-soy {
  width: 318px;
  height: 76px;
  -webkit-appearance: inherit;
     -moz-appearance: inherit;
          appearance: inherit;
  outline: none;
  border-bottom-style: none;
  border: inherit;
  color: #253135;
  background: linear-gradient(135deg, #FFFFFF 0%, #F2F2F2 100%);
  -webkit-box-shadow: -7px 7px 14px rgba(224, 224, 224, 0.2), 7px -7px 14px rgba(224, 224, 224, 0.2), -7px -7px 14px rgba(255, 255, 255, 0.9), 7px 7px 18px rgba(224, 224, 224, 0.9), inset 1px 1px 2px rgba(255, 255, 255, 0.3), inset -1px -1px 2px rgba(224, 224, 224, 0.5);
          box-shadow: -7px 7px 14px rgba(224, 224, 224, 0.2), 7px -7px 14px rgba(224, 224, 224, 0.2), -7px -7px 14px rgba(255, 255, 255, 0.9), 7px 7px 18px rgba(224, 224, 224, 0.9), inset 1px 1px 2px rgba(255, 255, 255, 0.3), inset -1px -1px 2px rgba(224, 224, 224, 0.5);
  border-radius: 24px;
  font-size: 24px;
  font-weight: 600;
  cursor: pointer;
}

.btn-soy:hover {
  -webkit-box-shadow: -7px 7px 14px rgba(204, 204, 204, 0.2), 7px -7px 14px rgba(204, 204, 204, 0.2), -7px -7px 14px rgba(255, 255, 255, 0.9), 7px 7px 18px rgba(204, 204, 204, 0.9), inset 1px 1px 2px rgba(255, 255, 255, 0.3), inset -1px -1px 2px rgba(61, 104, 227, 0.5);
          box-shadow: -7px 7px 14px rgba(204, 204, 204, 0.2), 7px -7px 14px rgba(204, 204, 204, 0.2), -7px -7px 14px rgba(255, 255, 255, 0.9), 7px 7px 18px rgba(204, 204, 204, 0.9), inset 1px 1px 2px rgba(255, 255, 255, 0.3), inset -1px -1px 2px rgba(61, 104, 227, 0.5);
}

.btn-soy:active {
  color: #3D68E3;
  -webkit-box-shadow: 1px 1px 2px rgba(255, 255, 255, 0.3), -1px -1px 2px rgba(224, 224, 224, 0.5), inset -7px 7px 14px rgba(224, 224, 224, 0.2), inset 7px -7px 14px rgba(224, 224, 224, 0.2), inset -7px -7px 14px rgba(255, 255, 255, 0.9), inset 7px 7px 18px rgba(224, 224, 224, 0.9);
          box-shadow: 1px 1px 2px rgba(255, 255, 255, 0.3), -1px -1px 2px rgba(224, 224, 224, 0.5), inset -7px 7px 14px rgba(224, 224, 224, 0.2), inset 7px -7px 14px rgba(224, 224, 224, 0.2), inset -7px -7px 14px rgba(255, 255, 255, 0.9), inset 7px 7px 18px rgba(224, 224, 224, 0.9);
}

.btn-usar-plataforma {
  width: 295px;
  height: 48px;
  -webkit-appearance: inherit;
     -moz-appearance: inherit;
          appearance: inherit;
  outline: none;
  border-bottom-style: none;
  border: inherit;
  background: #FFFFFF;
  color: #253135;
  -webkit-box-shadow: -7px 7px 14px rgba(224, 225, 227, 0.2), 7px -7px 14px rgba(224, 225, 227, 0.2), -7px -7px 14px rgba(255, 255, 255, 0.9), 7px 7px 18px rgba(224, 225, 227, 0.9), inset 1px 1px 2px rgba(255, 255, 255, 0.3), inset -1px -1px 2px rgba(224, 225, 227, 0.5);
          box-shadow: -7px 7px 14px rgba(224, 225, 227, 0.2), 7px -7px 14px rgba(224, 225, 227, 0.2), -7px -7px 14px rgba(255, 255, 255, 0.9), 7px 7px 18px rgba(224, 225, 227, 0.9), inset 1px 1px 2px rgba(255, 255, 255, 0.3), inset -1px -1px 2px rgba(224, 225, 227, 0.5);
  border-radius: 10px;
  font-size: 20px;
  font-weight: 600;
}

.btn-usar-plataforma:active {
  color: #3D68E3;
  -webkit-box-shadow: 1px 1px 2px rgba(255, 255, 255, 0.3), -1px -1px 2px rgba(224, 224, 224, 0.5), inset -7px 7px 14px rgba(224, 224, 224, 0.2), inset 7px -7px 14px rgba(224, 224, 224, 0.2), inset -7px -7px 14px rgba(255, 255, 255, 0.9), inset 7px 7px 18px rgba(224, 224, 224, 0.9);
          box-shadow: 1px 1px 2px rgba(255, 255, 255, 0.3), -1px -1px 2px rgba(224, 224, 224, 0.5), inset -7px 7px 14px rgba(224, 224, 224, 0.2), inset 7px -7px 14px rgba(224, 224, 224, 0.2), inset -7px -7px 14px rgba(255, 255, 255, 0.9), inset 7px 7px 18px rgba(224, 224, 224, 0.9);
}

.btn-usar-plataforma_blue {
  width: 295px;
  height: 48px;
  -webkit-appearance: inherit;
     -moz-appearance: inherit;
          appearance: inherit;
  outline: none;
  border-bottom-style: none;
  border: inherit;
  border-radius: 10px;
  font-size: 20px;
  color: #FFFFFF;
  font-weight: 600;
  background: linear-gradient(135deg, #406DEE 0%, #3A63D8 100%);
  -webkit-box-shadow: -7px 7px 14px rgba(55, 94, 204, 0.2), 7px -7px 14px rgba(55, 94, 204, 0.2), -7px -7px 14px rgba(67, 114, 250, 0.9), 7px 7px 18px rgba(55, 94, 204, 0.9), inset 1px 1px 2px rgba(67, 114, 250, 0.3), inset -1px -1px 2px rgba(55, 94, 204, 0.5);
          box-shadow: -7px 7px 14px rgba(55, 94, 204, 0.2), 7px -7px 14px rgba(55, 94, 204, 0.2), -7px -7px 14px rgba(67, 114, 250, 0.9), 7px 7px 18px rgba(55, 94, 204, 0.9), inset 1px 1px 2px rgba(67, 114, 250, 0.3), inset -1px -1px 2px rgba(55, 94, 204, 0.5);
}

.btn-usar-plataforma_blue:active {
  color: #FFFFFF;
  -webkit-box-shadow: 1px 1px 2px rgba(67, 114, 250, 0.3), -1px -1px 2px rgba(55, 94, 204, 0.5), inset -7px 7px 14px rgba(55, 94, 204, 0.2), inset 7px -7px 14px rgba(55, 94, 204, 0.2), inset -7px -7px 14px rgba(67, 114, 250, 0.9), inset 7px 7px 18px rgba(55, 94, 204, 0.9);
          box-shadow: 1px 1px 2px rgba(67, 114, 250, 0.3), -1px -1px 2px rgba(55, 94, 204, 0.5), inset -7px 7px 14px rgba(55, 94, 204, 0.2), inset 7px -7px 14px rgba(55, 94, 204, 0.2), inset -7px -7px 14px rgba(67, 114, 250, 0.9), inset 7px 7px 18px rgba(55, 94, 204, 0.9);
}

.input {
  width: 545px;
  height: 38px;
  background: #FFFFFF;
  -webkit-appearance: inherit;
     -moz-appearance: inherit;
          appearance: inherit;
  outline: none;
  border-bottom-style: none;
  border: inherit;
  -webkit-box-shadow: 1px 1px 2px rgba(255, 255, 255, 0.3), -1px -1px 2px rgba(224, 225, 227, 0.5), inset -7px 7px 14px rgba(224, 225, 227, 0.2), inset 7px -7px 14px rgba(224, 225, 227, 0.2), inset -7px -7px 14px rgba(255, 255, 255, 0.9), inset 7px 7px 18px rgba(224, 225, 227, 0.9);
          box-shadow: 1px 1px 2px rgba(255, 255, 255, 0.3), -1px -1px 2px rgba(224, 225, 227, 0.5), inset -7px 7px 14px rgba(224, 225, 227, 0.2), inset 7px -7px 14px rgba(224, 225, 227, 0.2), inset -7px -7px 14px rgba(255, 255, 255, 0.9), inset 7px 7px 18px rgba(224, 225, 227, 0.9);
  border-radius: 10px;
  color: #253135;
  font-size: 16px;
  font-weight: 400;
  padding-left: 2%;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Montserrat' !important;
}

.container {
  height: 100vh;
  margin-left: 12%;
  margin-right: 12%;
}

.container-slice {
  height: 70vh;
  margin-left: 12%;
  margin-right: 12%;
}

.container-cards {
  margin-left: 6%;
  margin-right: 6%;
}

.titleBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 2%;
}

.titleBox_intro_title {
  width: 60%;
  margin-top: 1%;
  margin-bottom: 0.5%;
}

.titleBox_intro_title_text {
  width: 90%;
}

.boxCards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  width: 100%;
  height: auto;
}

#root {
  font-family: 'Montserrat';
}

.title, .title_p {
  width: 60%;
}

.title_p, .title_p_p {
  margin-top: 2%;
  margin-bottom: 2%;
}

.img-hero {
  position: absolute;
  right: 12%;
  top: 16rem;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Montserrat' !important;
}

.container {
  height: 100vh;
  margin-left: 12%;
  margin-right: 12%;
}

.container-slice {
  height: 70vh;
  margin-left: 12%;
  margin-right: 12%;
}

.container-cards {
  margin-left: 6%;
  margin-right: 6%;
}

.titleBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 2%;
}

.titleBox_intro_title {
  width: 60%;
  margin-top: 1%;
  margin-bottom: 0.5%;
}

.titleBox_intro_title_text {
  width: 90%;
}

.boxCards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  width: 100%;
  height: auto;
}

.img-benefits {
  position: absolute;
  left: 25.7%;
  top: 75rem;
  z-index: -1;
}

.width {
  width: 40%;
}

.modal {
  position: absolute;
  width: 76%;
  top: 200%;
  background-color: #FFFFFF;
  border-radius: 10px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.steps {
  width: 4rem;
  height: 4rem;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  -webkit-box-shadow: 1px 1px 2px rgba(255, 255, 255, 0.3), -1px -1px 2px rgba(230, 230, 230, 0.5), inset -7px 7px 14px rgba(230, 230, 230, 0.2), inset 7px -7px 14px rgba(230, 230, 230, 0.2), inset -7px -7px 14px rgba(255, 255, 255, 0.9), inset 7px 7px 18px rgba(230, 230, 230, 0.9);
          box-shadow: 1px 1px 2px rgba(255, 255, 255, 0.3), -1px -1px 2px rgba(230, 230, 230, 0.5), inset -7px 7px 14px rgba(230, 230, 230, 0.2), inset 7px -7px 14px rgba(230, 230, 230, 0.2), inset -7px -7px 14px rgba(255, 255, 255, 0.9), inset 7px 7px 18px rgba(230, 230, 230, 0.9);
}

.steps p {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Montserrat' !important;
}

.container {
  height: 100vh;
  margin-left: 12%;
  margin-right: 12%;
}

.container-slice {
  height: 70vh;
  margin-left: 12%;
  margin-right: 12%;
}

.container-cards {
  margin-left: 6%;
  margin-right: 6%;
}

.titleBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 2%;
}

.titleBox_intro_title {
  width: 60%;
  margin-top: 1%;
  margin-bottom: 0.5%;
}

.titleBox_intro_title_text {
  width: 90%;
}

.boxCards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  width: 100%;
  height: auto;
}

#root {
  font-family: 'Montserrat';
}

.boxFunciona_intro {
  width: 60%;
  margin-bottom: 1%;
}

.boxFunciona_intro_title {
  width: 60%;
}

.margin-right {
  margin-right: 2%;
}

.img-intro {
  position: absolute;
  right: 11.9%;
  top: 49rem;
  z-index: -1;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Montserrat' !important;
}

.container {
  height: 100vh;
  margin-left: 12%;
  margin-right: 12%;
}

.container-slice {
  height: 70vh;
  margin-left: 12%;
  margin-right: 12%;
}

.container-cards {
  margin-left: 6%;
  margin-right: 6%;
}

.titleBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 2%;
}

.titleBox_intro_title {
  width: 60%;
  margin-top: 1%;
  margin-bottom: 0.5%;
}

.titleBox_intro_title_text {
  width: 90%;
}

.boxCards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  width: 100%;
  height: auto;
}

.boxGratis {
  width: 48%;
  height: auto;
  border: 1px solid;
  border-color: #3D68E3;
  border-radius: 10px;
  margin-right: 4%;
}

.boxGratis_items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 2%;
}

.boxGratis_items_title {
  margin-bottom: 2%;
}

.boxIcon {
  width: 80%;
}

.boxIcon p {
  margin-left: 1%;
  margin-bottom: 2%;
}

.btn-gratis {
  margin-top: 2%;
  margin-bottom: 5%;
}

.boxPago {
  width: 48%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  flex-direction: column;
  background: linear-gradient(113.98deg, #3D68E3 10.35%, rgba(62, 106, 231, 0.55) 151.98%);
  border-radius: 10px;
}

.boxPago_item {
  height: 75%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.boxPago_item_title {
  font-size: 20px;
  color: #FFFFFF;
}

.boxPago_item_title_description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.boxPago_item_title_description p {
  margin-left: 1%;
  margin-bottom: 8%;
}

.btn-pago {
  margin-top: 5%;
  margin-bottom: 8%;
}

.check-blue {
  color: #3D68E3;
}

.check-white {
  color: #FFFFFF;
}

.boxGratisOng {
  width: 48%;
  height: 100%;
  border: 1px solid;
  border-color: #3D68E3;
  border-radius: 10px;
  margin-right: 4%;
}

.boxGratisOng_title {
  margin-top: 10%;
  margin-bottom: 5%;
}

.boxGratisOng_title_description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.boxPagoOng {
  width: 48%;
  height: 100%;
  background: linear-gradient(113.98deg, #3D68E3 10.35%, rgba(62, 106, 231, 0.55) 151.98%);
  border-radius: 10px;
}

.boxPagoOng_title {
  margin-top: 10%;
  font-size: 20px;
  color: #FFFFFF;
  margin-bottom: 5%;
}

.boxPagoOng_title_description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Montserrat' !important;
}

.container {
  height: 100vh;
  margin-left: 12%;
  margin-right: 12%;
}

.container-slice {
  height: 70vh;
  margin-left: 12%;
  margin-right: 12%;
}

.container-cards {
  margin-left: 6%;
  margin-right: 6%;
}

.titleBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 2%;
}

.titleBox_intro_title {
  width: 60%;
  margin-top: 1%;
  margin-bottom: 0.5%;
}

.titleBox_intro_title_text {
  width: 90%;
}

.boxCards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  width: 100%;
  height: auto;
}

.box-img {
  width: 100%;
  height: auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-bottom: 2%;
}

.box-img_sf1, .box-img_sf2, .box-img_sf3 {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.box-img_sf2 {
  margin-left: 10%;
  margin-right: 4%;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Montserrat' !important;
}

.container {
  height: 100vh;
  margin-left: 12%;
  margin-right: 12%;
}

.container-slice {
  height: 70vh;
  margin-left: 12%;
  margin-right: 12%;
}

.container-cards {
  margin-left: 6%;
  margin-right: 6%;
}

.titleBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 2%;
}

.titleBox_intro_title {
  width: 60%;
  margin-top: 1%;
  margin-bottom: 0.5%;
}

.titleBox_intro_title_text {
  width: 90%;
}

.boxCards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  width: 100%;
  height: auto;
}

.box-form {
  width: 100%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.box-form_img {
  width: 40%;
  height: auto;
  margin-right: 10%;
}

.box-form_img img {
  width: 100%;
}

.box-form_inputs {
  width: 50%;
}

.box-form_inputs input {
  width: 100%;
  margin-bottom: 2%;
}
/*# sourceMappingURL=Main.css.map */