.box-carousel {
  @include xs {
    width: 90%;
    height: auto;
  }
  @include sm {
    width: 90%;
    height: auto;
  }
  @include md {
    width: 90%;
    height: auto;
  }
  @include lg {
    width: 100%;
    height: auto;
  }
  @include xl {
    width: 100%;
    height: auto;
  }
  @include xxl {
    width: 100%;
    height: auto;
  }
}

.box-carouser-img {
  @include xs {
    width: 90%;
    height: auto;
  }
  @include sm {
    width: 90%;
    height: auto;
  }
  @include md {
    width: 90%;
    height: auto;
  }
  @include lg {
    width: 100%;
    height: auto;
  }
  @include xl {
    width: 100%;
    height: auto;
  }
  @include xxl {
    width: 100%;
    height: auto;
  }
}
