@import './variants';

.btn-registrate {
	@include xs {
		width: 90%;
		height: 12%;
		font-size: 1.5rem;
	}
	@include sm {
		width: 90%;
		height: 14%;
		font-size: 1.5em;
	}
	@include md {
		width: 90%;
		height: 14%;
		font-size: 2rem;
	}
	@include lg {
		width: 40%;
		height: 16%;
		font-size: 1.5rem;
	}
	@include xl {
		width: 40%;
		height: 2em;
		font-size: 1.5rem;
	}
	@include reset-btn;
	color: $secondary-color;
	border-radius: 30px;
	background: $gradient-color;
	color: $bg-color;
	transition: all 0.5s ease-in-out;
	font-weight: map-get($font-weights, semi-bold);
	cursor: pointer;
	&:hover {
		transform: scale(1.05);
	}
}

.btn-soy {
	@include xs {
		width: 90%;
		height: 58px;
		font-size: 1.5rem;
	}
	@include sm {
		width: 90%;
		height: 58px;
		font-size: 1.5rem;
	}
	@include md {
		width: 90%;
		height: 16%;
		font-size: 2rem;
	}
	@include lg {
		width: 318px;
		height: 76px;
		font-size: 1.5rem;
	}
	@include xl {
		width: 318px;
		height: 76px;
		font-size: 24px;
	}
	@include reset-btn;
	color: $secondary-color;
	background: linear-gradient(135deg, #ffffff 0%, #f2f2f2 100%);
	box-shadow: -7px 7px 14px rgba(224, 224, 224, 0.2),
		7px -7px 14px rgba(224, 224, 224, 0.2),
		-7px -7px 14px rgba(255, 255, 255, 0.9),
		7px 7px 18px rgba(224, 224, 224, 0.9),
		inset 1px 1px 2px rgba(255, 255, 255, 0.3),
		inset -1px -1px 2px rgba(224, 224, 224, 0.5);
	border-radius: 24px;
	font-weight: map-get($font-weights, semi-bold);
	cursor: pointer;
	&:hover {
		box-shadow: -7px 7px 14px rgba(204, 204, 204, 0.2),
			7px -7px 14px rgba(204, 204, 204, 0.2),
			-7px -7px 14px rgba(255, 255, 255, 0.9),
			7px 7px 18px rgba(204, 204, 204, 0.9),
			inset 1px 1px 2px rgba(255, 255, 255, 0.3),
			inset -1px -1px 2px rgba(61, 104, 227, 0.5);
	}
	&:active {
		color: $primary-color;
		box-shadow: 1px 1px 2px rgba(255, 255, 255, 0.3),
			-1px -1px 2px rgba(224, 224, 224, 0.5),
			inset -7px 7px 14px rgba(224, 224, 224, 0.2),
			inset 7px -7px 14px rgba(224, 224, 224, 0.2),
			inset -7px -7px 14px rgba(255, 255, 255, 0.9),
			inset 7px 7px 18px rgba(224, 224, 224, 0.9);
	}
}

.btn-usar-plataforma {
	width: 295px;
	height: 48px;
	@include reset-btn;
	background: $bg-color;
	color: $secondary-color;
	box-shadow: -7px 7px 14px rgba(224, 225, 227, 0.2),
		7px -7px 14px rgba(224, 225, 227, 0.2),
		-7px -7px 14px rgba(255, 255, 255, 0.9),
		7px 7px 18px rgba(224, 225, 227, 0.9),
		inset 1px 1px 2px rgba(255, 255, 255, 0.3),
		inset -1px -1px 2px rgba(224, 225, 227, 0.5);
	border-radius: 10px;
	font-size: 20px;
	font-weight: map-get($font-weights, semi-bold);
	&:active {
		color: $primary-color;
		box-shadow: 1px 1px 2px rgba(255, 255, 255, 0.3),
			-1px -1px 2px rgba(224, 224, 224, 0.5),
			inset -7px 7px 14px rgba(224, 224, 224, 0.2),
			inset 7px -7px 14px rgba(224, 224, 224, 0.2),
			inset -7px -7px 14px rgba(255, 255, 255, 0.9),
			inset 7px 7px 18px rgba(224, 224, 224, 0.9);
	}
	&_blue {
		width: 295px;
		height: 48px;
		@include reset-btn;
		border-radius: 10px;
		font-size: 20px;
		color: $bg-color;
		font-weight: map-get($font-weights, semi-bold);
		background: linear-gradient(135deg, #406dee 0%, #3a63d8 100%);
		box-shadow: -7px 7px 14px rgba(55, 94, 204, 0.2),
			7px -7px 14px rgba(55, 94, 204, 0.2),
			-7px -7px 14px rgba(67, 114, 250, 0.9),
			7px 7px 18px rgba(55, 94, 204, 0.9),
			inset 1px 1px 2px rgba(67, 114, 250, 0.3),
			inset -1px -1px 2px rgba(55, 94, 204, 0.5);
		&:active {
			color: $bg-color;
			box-shadow: 1px 1px 2px rgba(67, 114, 250, 0.3),
				-1px -1px 2px rgba(55, 94, 204, 0.5),
				inset -7px 7px 14px rgba(55, 94, 204, 0.2),
				inset 7px -7px 14px rgba(55, 94, 204, 0.2),
				inset -7px -7px 14px rgba(67, 114, 250, 0.9),
				inset 7px 7px 18px rgba(55, 94, 204, 0.9);
		}
	}
}

.input {
	width: 545px;
	height: 38px;
	background: $bg-color;
	@include reset-btn;
	box-shadow: 1px 1px 2px rgba(255, 255, 255, 0.3),
		-1px -1px 2px rgba(224, 225, 227, 0.5),
		inset -7px 7px 14px rgba(224, 225, 227, 0.2),
		inset 7px -7px 14px rgba(224, 225, 227, 0.2),
		inset -7px -7px 14px rgba(255, 255, 255, 0.9),
		inset 7px 7px 18px rgba(224, 225, 227, 0.9);
	border-radius: 10px;
	color: $secondary-color;
	font-size: 16px;
	font-weight: map-get($font-weights, regular);
	padding-left: 2%;
}
