@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;600;700&display=swap');
@import './variants';
#root{
    font-family: 'Montserrat';
}

.title, .title_p{
    width: 60%;
        &_p{
            margin-top: 2%;
            margin-bottom: 2%;
        }
}
.img-hero{
    position: absolute;
    right: 12%;
    top: 16rem;
}