@import './variants';

.box-form {
	@include xs {
		width: 100%;
		flex-direction: column-reverse;
		justify-content: space-around;
		align-items: center;
		margin-top: 10%;
	}
	@include sm {
		width: 100%;
		flex-direction: column-reverse;
		justify-content: space-around;
		align-items: center;
		margin-top: 10%;
	}
	@include md {
		width: 100%;
		flex-direction: column-reverse;
		justify-content: space-around;
		align-items: center;
		margin-top: 10%;
	}
	@include lg {
		width: 100%;
		justify-content: space-around;
		flex-direction: row;
		align-items: center;
		margin-top: 0px;
	}
	@include xl {
		width: 100%;
		justify-content: space-around;
		flex-direction: row;
		align-items: center;
		margin-top: 0px;
	}
	@include xxl {
		width: 100%;
		justify-content: space-around;
		flex-direction: row;
		align-items: center;
		margin-top: 0px;
	}
	&_img {
		@include xs {
			width: 70%;
			height: auto;
			margin-right: 0px;
			margin-top: 5%;
		}
		@include lg {
			width: 40%;
			height: auto;
			margin-right: 10%;
			margin-top: 0px;
		}
		@include xl {
			width: 40%;
			height: auto;
			margin-right: 10%;
			margin-top: 0px;
		}
		@include xxl {
			width: 40%;
			height: auto;
			margin-right: 10%;
			margin-top: 0px;
		}
		img {
			width: 100%;
		}
	}
	&_inputs {
		@include xs {
			width: 90%;
		}
		@include sm {
			width: 90%;
		}
		@include md {
			width: 90%;
		}
		@include lg {
			width: 50%;
		}
		@include xl {
			width: 50%;
		}
		@include xxl {
			width: 50%;
		}
	}
}

.box-btn-usar-plataforma {
	width: 100%;
	height: auto;
	margin-top: 5%;
}

.error {
	color: rgb(244, 66, 66);
	font-weight: 500;
}

.whatsapp_float {
	@include xs {
		position: fixed;
		width: 40px;
		height: 40px;
		bottom: 20px;
		right: 10px;
		font-size: 22px;
		background-color: #25d366;
		color: #fff;
		border-radius: 50px;
		text-align: center;
		box-shadow: 2px 2px 3px rgb(175, 174, 174);
		z-index: 100;
	}
	@include lg {
		width: 60px;
		height: 60px;
		bottom: 40px;
		right: 40px;
		font-size: 30px;
	}
}

.whatsapp-icon {
	@include xs {
		margin-top: 8px;
	}
	@include lg {
		margin-top: 16px;
	}
}

.succes-message {
	padding: 5%;
}
