.boxGratisOng {
  border: 1px solid;
  border-color: $primary-color;
  border-radius: 10px;
  margin-right: 4%;
  @include xs {
    width: 85%;
    height: auto;
    margin-right: 0%;
  }
  @include sm {
    width: 85%;
    height: auto;
    margin-right: 0%;
  }
  @include md {
    width: 85%;
    height: auto;
    margin-right: 0%;
  }
  @include lg {
    width: 48%;
    height: 20rem;
    margin-right: 4%;
  }
  @include xl {
    width: 48%;
    height: 20rem;
    margin-right: 4%;
  }
  @include xxl {
    width: 48%;
    height: 24rem;
    margin-right: 4%;
  }
  &_title {
    margin-top: 10%;
    margin-bottom: 5%;
    &_description {
      @include flex-center;
      flex-direction: column;
    }
  }
}

.boxPagoOng {
  background: $gradient-color;
  border-radius: 10px;
  @include xs {
    width: 85%;
    height: auto;
    margin-top: 5%;
  }
  @include sm {
    width: 85%;
    height: auto;
    margin-top: 5%;
  }
  @include md {
    width: 85%;
    height: auto;
    margin-top: 5%;
  }
  @include lg {
    width: 48%;
    height: 20rem;
    margin-top: 0px;
  }
  @include xl {
    width: 48%;
    height: 20rem;
    margin-top: 0px;
  }
  @include xxl {
    width: 48%;
    height: 24rem;
    margin-top: 0px;
  }
  &_title {
    margin-top: 10%;
    margin-bottom: 5%;
    &_description {
      @include flex-center;
      flex-direction: column;
    }
  }
}

.btn-pago-ong {
  @include xs {
    margin-top: 2%;
    margin-bottom: 8%;
  }
  @include sm {
    margin-top: 2%;
    margin-bottom: 8%;
  }
  @include md {
    margin-top: 2%;
    margin-bottom: 8%;
  }
  @include lg {
    margin-top: 5%;
    margin-bottom: 8%;
  }
  @include xl {
    margin-top: 5%;
    margin-bottom: 8%;
  }
  @include xxl {
    margin-top: 5%;
    margin-bottom: 8%;
  }
}
